<html>
	<head>
		<title> {{title}} </title>
	<head>

	<body>
		<form action="/" method="GET">
			<input type="text" name="q" value="{{query}}"/>
			<input type="submit" value="Search" />
		</form>
		{{^list_empty}}
			<table>
			<tr>
				<th> Title </th>
				<th> Size </th>
				<th> Files </th>
				<th> Seeders </th>
				<th> Leechers </th>
				<th> Votes </th>
				<th> Date Posted </th>
			</tr>
			{{#list}}
				<tr>
					<td> <a href="{{info_link}}">{{title}}</a></td>
					<td> {{size}}  </td>
					<td> {{files}} </td>
					<td> {{Seeds}} </td>
					<td> {{leechers}} </td>
					<td> {{votes}} </td>
					<td> {{pubDate}} </td>
				</tr>
			{{/list}}
		{{/list_empty}}
	</body>
</html>
