<html>
	<head>
		<title> {{title}} </title>
	</head>
	<body>
		<p> Download &quot;{{name}}&quot; </p>
		<form action="/download" method="post">
			<input type="hidden" name="enclosure_url" value="{{enclosure_url}}" />
			<select name="type">
				<option value="movie"> Movie </option>
				<option value="tv"> TV Show </option>
			</select>
			<input type="submit" value="Queue For Download" />
		</form>
	</body>
</html>
